<html ng-app>
  <head>
    <title>Angular JS Tutorial</title>
  </head>
  <body>
    <div class="container" ng-init="bandmembers=[{name: 'Trey', instrument: 'Guitar'}, {name: 'Page', instrument: 'Piano'}, {name: 'Mike', instrument: 'Bass'}, {name: 'Fishman', instrument: 'Drums'}]">
      Name: <input type="text" ng-model="name" />
      <h3>Looping through the members of Phish with the ng-repeat directive</h3>
      <ul>
        <li ng-repeat="member in bandmembers | filter: name">{{ member.name }} - {{ member.instrument }}</li>
      </ul>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
  </body>
</html>
